/*H2 H3 H3caps H4*/
/*Activ*/
/*Gradient*/
.footer-nav-inner__contact_phone, .footer-nav-inner__contact-icon, .footer-nav-inner__contact, .footer-nav-inner__map-addres, .footer-nav-inner, .footer-nav, .services-container__block-icon, .title-container, .nav-site__block, .nav-contact__block-inner, .nav-contact__block, .nav-contact, .header, .container-header {
  display: flex;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.homepage {
  background-image: url(../images/fon-h.svg), linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 0px 0px 12px 12px;
  padding: 0 0 60px 0;
}

.container {
  max-width: 83.34%;
  margin-right: auto;
  margin-left: auto;
}
.container-header {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
}

.header {
  justify-content: space-between;
}

.nav-contact {
  align-items: center;
  margin-bottom: 16px;
}
.nav-contact__block {
  align-items: center;
}
.nav-contact__block::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 6px;
}
.nav-contact__block_none::after {
  display: none;
}

.nav-contact__block-link {
  margin-right: 14px;
}
.nav-contact__block-link:last-child {
  margin-right: 0;
}

.nav-contact__block-link_a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
}
.nav-contact__block-link_a:hover {
  width: 33px;
  height: 25px;
  border-radius: 8px;
  background-color: #46466E;
  text-align: center;
  padding: 5px;
  margin: -5px;
}
.nav-contact__block-link_a:active {
  width: 33px;
  height: 25px;
  border-radius: 8px;
  background-color: #F0145A;
  text-align: center;
  padding: 5px;
  margin: -5px;
}

.nav-contact__block-address {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.nav-contact__block-phone_a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}
.nav-contact__block-phone_a:hover {
  color: #F0145A;
}

.nav-contact__block-icon {
  cursor: pointer;
}

.nav-contact__block-icon:hover svg {
  fill: #F0145A;
}

.nav-site-btn_close {
  display: none;
}

.nav-site__block {
  justify-content: flex-end;
}

.nav-site__block-link {
  margin-right: 15px;
}

.nav-site__block-link:last-child {
  margin-right: 0;
}

.nav-site__block-link_a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}
.nav-site__block-link_a:hover {
  border-bottom: 2px solid #fff;
}
.nav-site__block-link_a:active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

.btn-burger {
  display: none;
}

.title-container__desc {
  max-width: 63.3%;
}

@media (max-width: 1631px) {
  .title-container__desc {
    max-width: 58%;
  }
}
@media (max-width: 1440px) {
  .title-container__desc {
    max-width: 48.4%;
  }
}
@media (max-width: 1160px) {
  .container {
    max-width: 88.3%;
  }

  .title-container__desc {
    max-width: 44.8%;
  }
}
@media (max-width: 1022px) {
  .title-container__desc {
    max-width: 36%;
  }
}
@media (max-width: 883px) {
  .title-container__desc {
    max-width: 36%;
  }
}
@media (max-width: 800px) {
  .title-container__desc {
    max-width: 29%;
  }
}
@media (max-width: 769px) {
  .title-container__desc {
    max-width: 26%;
  }
}
@media (max-width: 768px) {
  .container-header {
    position: relative;
  }

  .logo {
    position: absolute;
    top: 105px;
    left: 0;
  }

  .nav-contact {
    margin-bottom: 122px;
  }

  .nav-site__block {
    justify-content: flex-start;
  }
}
@media (max-width: 554px) {
  .homepage {
    padding: 0;
  }

  .btn-burger {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    position: fixed;
    top: 57px;
    right: 15px;
  }
  .btn-burger-path {
    stroke: #fff;
    stroke-width: 2px;
  }

  .nav-site {
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    padding: 12px;
    bottom: 0;
    left: 8px;
    right: 8px;
    border-radius: 15px 15px 0 0;
  }
  .nav-site-btn_close {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .nav-site-btn_close-svg:hover {
    background-color: #E6E6F0;
    border-radius: 8px;
  }
  .nav-site__block {
    flex-direction: column;
    padding-top: 65px;
  }
  .nav-site__block-link {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .nav-site__block-link:last-child {
    margin-bottom: 0;
  }
  .nav-site__block-link_a {
    display: block;
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #24A3FF;
    padding: 7px 0 7px 0;
    background-color: #F5F5FA;
  }
  .nav-site__block-link_a:hover {
    color: #F0145A;
    border-bottom: none;
  }
  .nav-site__block-link_a:active {
    color: #006CCF;
    background-color: #E6E6F0;
    border-bottom: none;
  }
  .nav-site--open {
    display: block;
  }

  .nav-contact__block-address {
    display: none;
  }

  .nav-contact__block-icon {
    display: none;
  }

  .nav-contact .nav-contact__block::after {
    display: none;
  }

  .nav-contact {
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    justify-content: space-between;
    padding: 12px 15px 12px 22px;
    background-color: rgba(245, 245, 250, 0.2);
  }
  .nav-contact__block.nav-contact__block_none {
    display: none;
  }
}
@media (max-width: 450px) {
  .logo {
    top: 60px;
  }
  .logo-img {
    max-width: 54%;
  }
}
.heading {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #fff;
}

.scroll {
  padding: 0;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
.scroll-link {
  stroke: #fff;
  stroke-width: 2px;
}
.scroll-link:hover {
  stroke: #F0145A;
}

.title {
  margin: 90px 0 87px;
}

.title-container {
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
.title-container__nav {
  border-right: solid 4px rgba(255, 255, 255, 0.3);
  padding: 14px 60px 14px 0;
  text-align: end;
}
.title-container__nav-link {
  margin-bottom: 30px;
}
.title-container__nav-link:last-child {
  margin-bottom: 0;
}
.title-container__nav-link_a {
  text-decoration: none;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  color: #B3B3BA;
}
.title-container__nav-link_a:hover {
  color: #F0145A;
}
.title-container__nav-link_a:active {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-container__desc {
  margin-left: 60px;
}
.title-container__desc-h {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.title-container__desc-p {
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}
.services-container__block-icon {
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  width: 92px;
  height: 92px;
  border-radius: 24px;
  margin-bottom: 30px;
}
.services-container__block-h {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #006CCF;
  margin-bottom: 15px;
}
.services-container__block-p {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

.btn-services {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  border: none;
  background-color: transparent;
  padding: 0;
  stroke: #24A3FF;
}
.btn-services:hover {
  stroke: #F0145A;
  color: #F0145A;
}

.subject {
  display: block;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 60px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 91.7%;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 88.29%;
  }
}
@media (max-width: 920px) {
  .container {
    max-width: 84.38%;
  }

  .services-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .title-container {
    flex-direction: column;
  }

  .title-container__nav {
    display: flex;
    padding: 0;
    margin-bottom: 60px;
    border-right: none;
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 100%;
  }
  .title-container__nav-link {
    margin: 0 30px 0 0;
  }

  .title-container__desc {
    margin-left: 0;
    max-width: 95.6%;
    padding-top: 60px;
    border-top: solid 4px rgba(255, 255, 255, 0.3);
  }
}
@media (max-width: 554px) {
  .title-container__nav-link_a {
    font-size: 30px;
    line-height: 37px;
  }

  .title-container__desc-h {
    font-size: 20px;
    line-height: 24px;
  }

  .subject {
    font-size: 30px;
    line-height: 37px;
  }

  .services-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 84%;
  }
}
.shadow-img {
  display: block;
  width: 100%;
}

.clients {
  margin-bottom: 60px;
}
.clients-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  margin-bottom: 30px;
}
.clients__block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.clients__block-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
}
.clients__block-inner:nth-child(1) {
  background-color: #1C4280;
}
.clients__block-inner:nth-child(2) {
  background-color: #143646;
}
.clients__block-inner:nth-child(3) {
  background-color: #F48B30;
}
.clients__block-inner:nth-child(4) {
  background-color: #9E4DC3;
}
.clients__block-inner:nth-child(5) {
  background-color: #FD9339;
}
.clients__block-inner:nth-child(6) {
  background-color: #E2E2E4;
}
.clients__block-inner:nth-child(7) {
  background-color: #C71C36;
}
.clients__block-inner:nth-child(8) {
  background-color: #DCF3F9;
}
.clients__block-inner:nth-child(9) {
  background-color: #EAEAEA;
}
.clients__block-inner:nth-child(10) {
  background-color: #282240;
}
.clients__block-inner:nth-child(11) {
  background-color: #1D4568;
}
.clients__block-inner:nth-child(12) {
  background-color: #000;
}

@media (min-width: 1441px) {
  .clients__block-inner:nth-child(12) {
    border-radius: 0 0 12px 0;
  }

  .clients__block-inner:nth-child(9) {
    border-radius: 0 0 0 12px;
  }

  .clients__block-inner:nth-child(4) {
    border-radius: 0 12px 0 0;
  }

  .clients__block-inner:nth-child(1) {
    border-radius: 12px 0 0 0;
  }
}
@media (max-width: 1023px) {
  .clients__block {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .clients__block {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .clients__block {
    grid-template-columns: repeat(1, 1fr);
  }
}
.publications {
  background-color: #F5F5FA;
  padding: 30px 0;
}
.publications .subject {
  margin-bottom: 30px;
}
.publications-container {
  display: flex;
  margin-bottom: 30px;
}
.publications-container__block {
  border-radius: 8px;
  background-color: #fff;
  max-width: 513px;
  margin-right: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.publications-container__block:last-child {
  margin-right: 0;
}
.publications-container__block-img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 30px;
}
.publications-container__block-inner {
  padding: 0 30px;
}
.publications-container__block-inner-h {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  margin-bottom: 15px;
}
.publications-container__block-inner-desc {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  padding-bottom: 15px;
  border-bottom: 4px solid #E6E6F0;
}
.publications-container__block-inner-p {
  padding-top: 15px;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

.footer-nav {
  justify-content: space-between;
  border-top: 2px solid #E6E6F0;
  padding-top: 30px;
}
.footer-nav-inner {
  flex-direction: column;
}
.footer-nav-inner__map {
  margin-bottom: 21px;
  display: flex;
  align-items: center;
}
.footer-nav-inner__map-addres {
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  align-items: center;
}
.footer-nav-inner__map-addres::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #B3B3BA;
  border: 1px solid #B3B3BA;
  border-radius: 50%;
  margin: 0 10px;
}
.footer-nav-inner__map_on {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.footer-nav-inner__contact {
  align-items: center;
}
.footer-nav-inner__contact-icon {
  align-items: center;
}
.footer-nav-inner__contact-icon_facebook-svg {
  fill: #24A3FF;
}
.footer-nav-inner__contact-icon_facebook-svg:hover {
  fill: #F0145A;
}
.footer-nav-inner__contact-icon::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #B3B3BA;
  border: 1px solid #B3B3BA;
  border-radius: 50%;
  margin: 0 10px;
}
.footer-nav-inner__contact_phone {
  align-items: center;
}
.footer-nav-inner__contact_phone::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #B3B3BA;
  border: 1px solid #B3B3BA;
  border-radius: 50%;
  margin: 0 10px;
}
.footer-nav-inner__contact_phone-a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #46466E;
}
.footer-nav-inner__contact_phone-a:hover {
  color: #F0145A;
}
.footer-nav-inner__email-a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.footer-nav-inner__email-a:hover {
  color: #F0145A;
}

.footer-copyright-p {
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}

@media (max-width: 1023px) {
  .publications-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .publications-container__block {
    max-width: 47%;
    margin-top: 30px;
  }
  .publications-container__block:nth-child(2) {
    margin-right: 0;
  }
  .publications-container__block:last-child {
    max-width: 648px;
  }
}
@media (max-width: 782px) {
  .footer-nav {
    position: relative;
  }

  .footer-copyright-p {
    position: absolute;
    top: 30px;
    right: 0;
  }
}
@media (max-width: 664px) {
  .publications-container__block {
    margin-right: 0;
    padding-bottom: 0;
    max-width: 100%;
  }

  .footer-copyright-p {
    position: relative;
    text-align: center;
  }

  .footer-nav {
    flex-direction: column;
  }
  .footer-nav-inner__map {
    flex-direction: column;
  }
  .footer-nav-inner__map-addres {
    margin-bottom: 10px;
  }
  .footer-nav-inner__map-addres::after {
    display: none;
  }
  .footer-nav-inner__contact {
    flex-direction: column;
  }
  .footer-nav-inner__contact-icon {
    margin-bottom: 10px;
  }
  .footer-nav-inner__contact-icon::after {
    display: none;
  }
  .footer-nav-inner__contact_phone {
    margin-bottom: 10px;
  }
  .footer-nav-inner__contact_phone::after {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
