.header {
    @extend %df;
    justify-content: space-between;
}

.nav-contact {
    @extend %df;
    align-items: center;
}

.nav-contact__blok-inner {
    @extend %df;
}

.nav-contact__blok-link {
    margin-right: 14px;
}

.nav-contact__blok-link_a {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
}

.nav-contact__blok-address {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.nav-contact__blok-phone_a {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}

.nav-contact__blok-icon {
    transition: all 0,3 linear;
    cursor: pointer;
}

.nav-contact__blok-icon:hover svg {
    fill: $accent;
}

.nav-contact__blok-icon:active svg {
    fill: $regular;
}

.nav-site__blok {
    @extend %df;
}

.nav-site__blok-link_a {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}