.header {
    @extend %df;
    justify-content: space-between;
    margin-bottom: 360px;
}

.nav-contact {
    @extend %df;
    align-items: center;
    margin-bottom: 16px;

    .nav-contact__block {
        @extend %df;
        align-items: center;
        &::after {
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 50%;
            margin: 0 6px;
        }

        &_none::after {
            display: none;
        }
    }
}

.nav-contact__block-inner {
    @extend %df;
}

.nav-contact__block-link {
    margin-right: 14px;

    &:last-child {
        margin-right: 0;
    }
}

.nav-contact__block-link_a {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;

    &:hover {
        width: 33px;
        height: 25px;
        border-radius: 8px;
        background-color: $alt;
        text-align: center;
        padding: 5px;
        margin: -5px;
    }

    &:active {
        width: 33px;
        height: 25px;
        border-radius: 8px;
        background-color: $accent;
        text-align: center;
        padding: 5px;
        margin: -5px;
    }
}

.nav-contact__block-address {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.nav-contact__block-phone_a {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;

    &:hover {
        color: $accent;
    }

    &:active {
        color: $alt;
    }
}

.nav-contact__block-icon {
    cursor: pointer;
}

.nav-contact__block-icon:hover svg {
    fill: $accent;
}

.nav-contact__block-icon:active svg {
    fill: $alt;
}

.nav-site-btn_close {
    display: none;
}

.nav-site__block {
    @extend %df;
    justify-content: flex-end;
}

.nav-site__block-link {
    margin-right: 15px;
}


.nav-site__block-link:last-child {
    margin-right: 0;
}

.nav-site__block-link_a {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;

    &:hover {
        color: $regular;
        border-bottom: 2px solid $regular;
    }

    &:active {
        color: $accent;
        border-bottom: 2px solid $accent;
    }

}

.btn-burger {
    display: none;
}

@media (max-width: 1023px) {

    .header {
        position: relative;
    }

    .logo {
        position: absolute;
        top: 35%;
    }

    .nav-contact {
        margin-bottom: 125px;
    }

    .nav-site {
        display: flex;
        justify-content: flex-start;
    }

    @media (max-width: 767px) {

        .homepage {
            padding: 60px 0;
        }

        .btn-burger {
            display: block;
            padding: 0;
            background-color: transparent;
            border: none;
            position: fixed;
            top: 57px;
            right: 15px;

            &-path {
                stroke: #fff;
                stroke-width: 2px;
            }
        }

        .nav-site {
            display: none;
            flex-direction: column;
            position: fixed;
            background-color: #fff;
            padding: 12px;
            bottom: 0;
            left: 8px;
            right: 8px;
            border-radius: 15px 15px 0 0;

            &-btn_close {
                display: block;
                position: absolute;
                top: 12px;
                right: 12px;
                border: none;
                background-color: transparent;
                padding: 0;
            }

            &__block {
                flex-direction: column;
                padding-top: 65px;
            }

            &__block-link {
                margin-right: 0;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__block-link_a {
                display: block;
                text-align: center;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: $regular;
                padding: 7px 0 7px 0;
                background-color: $bg;

                &:hover {
                    color: $accent;
                    border-bottom: none;
                }

                &:active {
                    color: $active;
                    background-color: $separator;
                    border-bottom: none;
                }
            }

            &--open {
                display: block;
            }
        }

        .nav-contact__block-address {
            display: none;
        }

        .nav-contact__block-icon {
            display: none;
        }

        .nav-contact .nav-contact__block::after {
            display: none;
        }

        .nav-contact {
            position: fixed;
            top: 0;
            left: 0;
            margin-bottom: 0;
            width: 100%;
            justify-content: space-between;
            padding: 12px 15px 12px 22px;
            background-color: rgba(245, 245, 250, 0.2);

            &__block {

                &.nav-contact__block_none {
                    display: none;
                }

            }
        }

    }


}