@import "variables";
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: gray;
}

.homepage {
    background-image: url(../images/fon-h.svg), $grSupersoft;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 0px 0px 12px 12px;
    padding: 0 0 60px 0;
}

.container {
    max-width: 83.34%;
    margin-right: auto;
    margin-left: auto;

    &-header {
        height: 100vh;
        @extend %df;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 50px;
    }
}

@import "header";

@import "title";
